<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href = "style.css" rel = "stylesheet"/>
  <title>Document</title>
</head>
<body>
  <h1>Bulletin Board Application</h1>
	<div class = "list-container">
  <ul>
		<% for(var i = 0; i< data.length; i++) {%>
		<li><a href = <%=data[i].id%>><%= data[i].title %></a></li>
		<% } %>



	 <form action="/" method = "post">
    <input name = "title" class = "inputStyle" placeholder = "enter Title"/>
    <textarea name = "blog" class = "inputStyle" rows = "3" cols = "4" placeholder = "enter post body"></textarea>
    <button type = "submit">Add Bulletin</button>
  </form>

  </ul>
	</div>
  <h1> Victor Singh </h1>
</body>
</html>
